<ul class="share-buttons">
  <li style="padding-top: -10px;">Compartilhar:</li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" title="Share on Facebook" target="_blank"><img src="{{ site.url }}/img/social/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=sistematico" target="_blank" title="Tweet"><img src="{{ site.url }}/img/social/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+"><img src="{{ site.url }}/img/social/Google+.png"></a></li>
</ul>
